* {
    box-sizing: border-box;
    margin: auto;
}
html {
    font-family: "Lucida Sans", sans-serif;
    padding-bottom: 30px;
}
.jumbotron{
    background-color: darkseagreen;
    color: #ffffff;
    padding: 15px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 5px;
    padding-bottom: 1px;

}
.menu{
    border: 1px solid black;
    margin-right: 40px;

}
.row{
    margin-left: 2px;

}
.header {
    background-color: lightgray;
    color: #ffffff;
    padding: 15px;
    padding-right: 15px;
    margin-right: 35px;
    margin-left: 0px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 14.28%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.drawborder{
    border: 1px solid black;

}